RewriteEngine On
RewriteBase /event_management/public

# Ensure the request is not for an existing file or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite all other requests to index.php
RewriteRule ^(.*)$ index.php [QSA,L]

# Set default character set
AddDefaultCharset UTF-8

# Enable PHP error reporting
php_flag display_errors on
php_value error_reporting E_ALL

# Prevent directory listing
Options -Indexes 